node_modules/
.expo/
dist/
web-build/
android/
ios/
*.keystore
*.jks
tinyfin-key-base64.txt
output.zip
pepk.jar
encryption_public_key.pem
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
.env
.DS_Store
